body
{
    background-color: blue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;

    transition-property: background-color;
    transition-duration: 3s;
}

#clock
{
    letter-spacing: 20px;
    font-size: 140px;
    margin-top: 220px;
    margin-bottom: 10px;
}

#date
{
    font-size: 25px;
    margin-bottom: 130px;
}

#hexCol
{
    letter-spacing: 10px;
    font-size: 25px;
}